################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hackerRank/warm-up-challenges/Sales-by-Match/SalesByMatch/SalesByMatch/bin
